/* INICIO Alertas */
.alert_requerido {
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    position: absolute;
    margin-left: 60px;
    margin-top: 5px;
    z-index: 10;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

    .close:hover {
        color: #000000;
        text-decoration: none;
        opacity: 0.4;
        filter: alpha(opacity=40);
        cursor: pointer;
    }

.alert {
    font-family: 'Century Gothic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0;
    margin-bottom: 18px;
    background-color: #cccccc;
    border: 1px solid #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
    position: fixed;
    bottom: 1px;
    width: 100%;
    max-height: 200px;
    vertical-align: middle;
    z-index: 3;
}

.alert-heading {
    color: inherit;
}

.alert .ico {
    width: 40px;
    padding: 10px 15px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

    .alert .ico img {
        width: 20px;
    }

.alert .conten {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    font-size: 16px;
    width: 80%;
    overflow: auto;
    max-height: 150px;
}

.alert .close {
    position: relative;
    top: -5px;
    right: 10px;
    line-height: 18px;
    font-size: 20px;
    text-decoration: none;
    vertical-align: middle;
}

.alert-success {
    background-color: #228b22;
    border-color: #228b22;
    /*color: #333;*/
}

.alert-danger,
.alert-error {
    background-color: #f80000;
    border-color: #f80000;
    /*color: #333;*/
}

.alert-info {
    background-color: #4169e1;
    border-color: #4169e1;
    /*color: #333;*/
}

.alert-warning {
    background-color: #ff8108;
    border: 1px solid #ff8108;
    /*color: #333;*/
}
/* FINAL Alertas */