@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h5,
h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.miColor {
    color: #fc3;
    font-weight: bold;
}

a {
    color: #00695c;
    font-weight: bold;
}

a:hover {
    color: #004d40;
}

nav {
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

nav a {
    color: #00695c;
    /*font-weight: normal;*/
}

nav ul li a {
    font-size: 1.3rem;
}

.nav-item.active,
.nav-item:hover {
    background-color: #80cbc4;
}


.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #00695c;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -30px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


.customPadding {
    padding-top: 4.5rem;
}

footer a i.fab:hover {
    color: #fc3;
    transition: .4s ease-in-out;
}

footer span a:hover {
    color: #fc3;
}


/*Accueil*/
.img-inicio {
    height: 85vh;
    background: url('../images/alternative-energy-background-blue-1036936.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: myColorAnimation 2s infinite;
}

.titulo-inicio {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.inicio-contenido {
    z-index: 4;
    color: aliceblue;
}

.inicio-contenido h1 {
    font-size: 3rem;
}

.inicio-contenido p {
    font-size: 1.5rem;
}

#ima1 {
    background: url('../images/blooming-blur-close-up-459059.jpg') center center;
    background-size: cover;
}

#ima2 {
    background: url('../images/forest-light-nature-70365.jpg') center center;
    background-size: cover;
}

#ima3 {
    background: url('../images/care-caregiver-deal-45842.jpg') center center;
    background-size: cover;
}

.video-fluid {
    width: 100%;
    height: auto;
}

#sidebar h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #004d40;
}

#sidebar a:hover {
    transition: .9s ease-in-out;
    box-shadow: 10px 10px 10px #80cbc4;
    padding: 10px 0;
    border-radius: 100px;

}

#carousel h2 {
    text-shadow: 2px 2px #000;
    font-size: 2rem;
}

#carousel .carousel-inner {
    height: 60vh;
}

#environnement {
    background: url('../images/art-background-blank-1020317.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 100%;
}

#sport {
    background: url('../images/active-activity-athletes-1667583.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 100%;
}

#education {
    background: url('../images/art-art-materials-background-1762851.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 100%;
}



/*Activités*/
#accordionExample275 {
    min-height: 50vh;
}

#accordionExample275 .list-group button {
    text-transform: uppercase;
    font-weight: bold;
}

#accordionExample275 .list-group button:hover,
#accordionExample275 .list-group button:active {
    background: #b2dfdb;
    color: #fff;
}

#accordionExample275 .collapse {
    transition: .5s ease-in-out;
}

#accordionExample275 h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #004d40;
}

.card-columns img {
    transition: all .3s ease-in-out;
}

.card-columns:hover img {
    transform: rotate(1deg);
}

.card-columns img:hover {
    opacity: .6;
    transform: scale(.91);
}


/*Contact*/
#mapa {
    overflow: hidden;
    padding: 0;
}

#mapa #mapaContenedor {
    position: relative;
    height: 60vh;
    width: 100%;
}

#mapa iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact {
    top: -90px;
}

.contact h3,
#messageForm h2 {
    color: #004d40;
}

.contact .card {
    height: 400px;
}

.contact .card:hover i {
    color: #fc3;
    transition: .4s ease-in-out;
}

#messageForm .md-form input:focus:not([readonly]),
#messageForm .md-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #b2dfdb;
    box-shadow: 0 1px 0 0 #b2dfdb;
    border-bottom: 1px solid #b2dfdb;
}

#messageForm .md-form input:focus:not([readonly]) + label,
#messageForm .md-form textarea ~ label.active,
#messageForm .md-form textarea.md-textarea:focus:not([readonly]) + label {
    color: #004d40;
}


/*A propos*/
.img-entrada {
    height: 75vh;
    background: url('../images/art-art-materials-background-1762851.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo-entrada {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.titulo-contenido {
    z-index: 4;
    color: aliceblue;
}

.titulo-contenido h1 {
    font-size: 3rem;
}

.titulo-contenido p {
    font-size: 1.5rem;
}

.specialBg {
    background: #060c21;
}

#aPropos {}

.ap {
    position: relative;
    z-index: 1;
}

.myBox {
    position: relative;
    height: 500px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cdcd;
    box-shadow: 1px 1px 20px #060c21;
    transition: .9s ease-in-out;
}

.myBox::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    opacity: .4;
    transition: .7s ease-in-out;
    transform: skew(3deg, 3deg);
    z-index: -1;
}

.myBox:hover::before,
.myBox:hover {
    opacity: 1;
}

.ap .col-md-6:nth-child(1) .myBox::before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.ap .col-md-6:nth-child(2) .myBox::before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
}

.ap .col-md-6:nth-child(3) .myBox::before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.ap .col-md-6:nth-child(4) .myBox::before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.myContent {
    position: relative;
    padding: 30px;
}

.myContent h2 {
    position: absolute;
    top: -10%;
    left: 50%;
    margin: 0;
    font-size: 10rem;
    color: rgba(250, 250, 250, .5);
    transition: .5s;
}

.myBox:hover .myContent h2 {
    top: -20%;
}

.myBox .myContent h3 {
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-size: 2.5rem;
    transition: .9s;
}

.myBox:hover .myContent h3 {
    animation: borderAnimation 5s infinite;
}

.myBox:hover .myContent h3 {
    color: #fc3;
}

.myBox .myContent p {
    color: #fff;
    font-size: 1.1rem;
}

.myBox .myContent .mySlogan {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 0;
    color: #fc3;
    font-family: 'Barriecito', cursive;
    text-align: right;
    transform: translateX(-100px);
    opacity: .5;
    transition: .5s;
    visibility: hidden;
}

.myBox:hover .myContent .mySlogan {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.myBox .myContent .mySlogan:hover {
    color: #fc3;
}

#team h2 {
    color: #00695c;
}

.myCard {
    height: 230px;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 800px;
    transition: .5s;
}

.myCard:hover {
    cursor: pointer;
}

.myCard .frontCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: .5s;
}

.myCard .frontCard img {
    width: 100%;
    height: 100%;
}

.myCard:hover .frontCard {
    transform: rotateY(-180deg);
}

.myCard .backCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: .5s;
}

.myCard .backCard::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
}

.myCard:hover .backCard {
    transform: rotateY(0deg);
}

.myCard .backCard .details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 20px;
}

.myCard .backCard .details h5 {
    color: white;
}

.myCard .backCard .details h5 span {
    color: #80cbc4;
    font-size: 1rem;
    text-transform: capitalize;
}

.myCard .backCard .details .reseauxSociaux {
    padding: 10px 0;
    font-size: .6rem;
}

.myCard .backCard .details .reseauxSociaux a {
    background: #80cbc4;
    display: inline-block;
    padding: 10px;
}

.myCard .backCard .details .reseauxSociaux a:hover {
    background: #fff;
}




/*Keyframes*/
@keyframes myColorAnimation {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

@keyframes borderAnimation {
    0% {
        border-bottom: 1px solid #ff0057;
        left: 0px;
        top: 0px;
    }

    40% {
        border-right: 1px solid #e64a19;
        padding-left: 5px;
        border-radius: 1rem;
        left: 200px;
        top: 0px;
    }

    70% {
        border-top: 1px solid #e91e63;
        padding-left: 10px;
        border-radius: 2rem;
        left: 200px;
        top: 200px;
    }

    100% {
        border-radius: 5rem;
        padding-left: 15px;
        border: 1px solid #e91e63;
        left: 0px;
        top: 0px;
    }
}






/*Media queries*/
@media (max-width: 768px) {
    .img-inicio {
        height: 100vh;
    }

    #carousel h2 {
        text-shadow: 2px 2px #000;
        font-size: 1.5rem;
        text-align: center;
    }

    #carousel .carousel-inner {
        height: 100vh;
        text-align: center;
    }

    .myContent h2 {
        position: absolute;
        top: -5%;
        left: 50%;
        margin: 0;
        font-size: 8rem;
        color: rgba(250, 250, 250, .5);
        transition: .5s;
    }

    .myBox:hover .myContent h2 {
        top: -10%;
    }
}
