@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h5,
h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.miColor {
    color: #fc3;
    font-weight: bold;
}

a {
    color: #00695c;
    font-weight: bold;
}

a:hover {
    color: #004d40;
}

nav {
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

nav a {
    color: #00695c;
    /*font-weight: normal;*/
}

nav ul li a {
    font-size: 1.3rem;
}

.nav-item.active,
.nav-item:hover {
    background-color: #80cbc4;
}


.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #00695c;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -30px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


.customPadding {
    padding-top: 4.5rem;
}

footer a i.fab:hover {
    color: #fc3;
    transition: .4s ease-in-out;
}

footer span a:hover {
    color: #fc3;
}


/*Accueil*/
.img-inicio {
    height: 85vh;
    background: url('../images/1.jpeg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo-inicio {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inicio-contenido {
    z-index: 4;
    color: aliceblue;
}

.inicio-contenido h1 {
    font-size: 3rem;
    background: rgba(0, 0, 0, .5);
    display: inline-block;
    padding: 2px 5px;
}

.inicio-contenido p {
    font-size: 1.5rem;
    background: rgba(0, 0, 0, .5);
    padding: 2px;
}

#ima1 {
    background: url('../images/blooming-blur-close-up-459059.jpg') center center;
    background-size: cover;
}

#ima2 {
    background: url('../images/forest-light-nature-70365.jpg') center center;
    background-size: cover;
}

#ima3 {
    background: url('../images/care-caregiver-deal-45842.jpg') center center;
    background-size: cover;
}

.video-fluid {
    width: 100%;
    height: auto;
}

#sidebar h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #004d40;
}

#sidebar a:hover {
    transition: .9s ease-in-out;
    box-shadow: 10px 10px 10px #80cbc4;
    padding: 10px 0;
    border-radius: 100px;

}

#carousel h2 {
    text-shadow: 2px 2px #000;
    font-size: 2rem;
}

#carousel .carousel-inner {
    min-height: 60vh;
}

#actu1 {
    background: url('../images/art-background-blank-1020317.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 60vh;
}

#actu1 h2 {
    border-top: 5px solid #fff;
    padding-top: 1rem;
}

#actu2 {
    background: url('../images/actuu.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 60vh;
}

#actu2 p {
    background: rgba(0, 0, 0, .7);
    padding: 10px;
}

#actu3 {
    background: url('../images/art-art-materials-background-1762851.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 60vh;
}



/*Activités*/
#accordionExample275 {
    min-height: 50vh;
}

#accordionExample275 .list-group button {
    text-transform: uppercase;
    font-weight: bold;
}

#accordionExample275 .list-group button:hover,
#accordionExample275 .list-group button:active {
    background: #b2dfdb;
    color: #fff;
}

#accordionExample275 .collapse {
    transition: .5s ease-in-out;
}

#accordionExample275 h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #004d40;
}

.card-columns img {
    transition: all .3s ease-in-out;
}

.card-columns:hover img {
    transform: rotate(1deg);
}

.card-columns img:hover {
    opacity: .6;
    transform: scale(.91);
}


/*Contact*/
#mapa {
    overflow: hidden;
    padding: 0;
}

#mapa #mapaContenedor {
    position: relative;
    height: 60vh;
    width: 100%;
}

#mapa iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact {
    top: -90px;
}

.contact h3,
#messageForm h2 {
    color: #004d40;
}

.contact .card {
    height: 400px;
}

.contact .card:hover i {
    color: #fc3;
    transition: .4s ease-in-out;
}

#messageForm .md-form input:focus:not([readonly]),
#messageForm .md-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #b2dfdb;
    box-shadow: 0 1px 0 0 #b2dfdb;
    border-bottom: 1px solid #b2dfdb;
}

#messageForm .md-form input:focus:not([readonly]) + label,
#messageForm .md-form textarea ~ label.active,
#messageForm .md-form textarea.md-textarea:focus:not([readonly]) + label {
    color: #004d40;
}


/*A propos*/
.img-entrada {
    height: 75vh;
    background: url('../images/art-art-materials-background-1762851.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo-entrada {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.titulo-contenido {
    z-index: 4;
    color: aliceblue;
}

.titulo-contenido h1 {
    font-size: 3rem;
}

.titulo-contenido p {
    font-size: 1.5rem;
}

.specialBg {
    background: #060c21;
}

#aPropos {}

.ap {
    position: relative;
    z-index: 1;
}

.myBox {
    position: relative;
    min-height: 500px;
    background: #060c21;
    display: flex;
    justify-content: center;
    /*    align-items: center;*/
    border: 1px solid #cdcd;
    box-shadow: 1px 1px 20px #060c21;
    transition: .9s ease-in-out;
}

.myBox::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    opacity: .4;
    transition: .7s ease-in-out;
    transform: skew(3deg, 3deg);
    z-index: -1;
}

.myBox:hover::before,
.myBox:hover {
    opacity: 1;
}

.ap .col-md-6:nth-child(1) .myBox::before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.ap .col-md-6:nth-child(2) .myBox::before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
}

.ap .col-md-6:nth-child(3) .myBox::before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.ap .col-md-6:nth-child(4) .myBox::before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.myContent {
    position: relative;
    padding: 30px;
}

.myContent h2 {
    position: absolute;
    top: 50%;
    left: 35%;
    margin: 0;
    font-size: 10rem;
    color: rgba(250, 250, 250, .5);
    transition: .5s;
}

.myBox:hover .myContent h2 {
    top: 10%;
}

.myBox .myContent h3 {
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-size: 2.5rem;
    transition: .9s;
}

.myBox:hover .myContent h3 {
    animation: borderAnimation 5s infinite;
}

.myBox:hover .myContent h3 {
    color: #fc3;
}

.myBox .myContent p {
    color: #fff;
    font-size: 1.1rem;
}

.myBox .myContent .mySlogan {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 0;
    color: #fc3;
    font-family: 'Barriecito', cursive;
    text-align: right;
    transform: translateX(-100px);
    opacity: .5;
    transition: .5s;
    visibility: hidden;
}

.myBox:hover .myContent .mySlogan {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.myBox .myContent .mySlogan:hover {
    color: #fc3;
}

#ourTeam h2 {
    color: #00695c;
    text-align: center;
}

#ourTeam .view {
    height: 100%;
}

#ourTeam h4 {
    color: #00695c;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 700;
}

#ourTeam .mask {
    margin: auto 0;
}

#ourTeam p {
    color: #fff;
    font-weight: lighter;
    text-align: center;
}

#ourTeam .img-thumbnail {
    padding: .25rem;
    background-color: #b2dfdb !important;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}

#ourTeam .bgGradient {
    background: rgb(178, 223, 219);
    background: linear-gradient(180deg, rgba(178, 223, 219, 0.9) 0%, rgba(137, 193, 185, 0.8) 30%, rgba(77, 148, 135, 0.8) 80%, rgba(0, 105, 86, 0.9) 100%);
}


.centrar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}




/*Media queries*/
@media (max-width: 1024px) {
    .col-md-6.miColumna {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .myBox {
        position: relative;
        min-height: auto;
        background: #060c21;
        display: flex;
        justify-content: center;
        /*    align-items: center;*/
        border: 1px solid #cdcd;
        box-shadow: 1px 1px 20px #060c21;
        transition: .9s ease-in-out;
    }
}

@media (max-width: 768px) {
    .img-inicio {
        min-height: 100vh;
    }

    #carousel h2 {
        text-shadow: 2px 2px #000;
        font-size: 1.5rem;
        text-align: center;
    }

    #carousel .carousel-inner {
        min-height: 60vh;
        text-align: center;
    }

    #actu1,
    #actu2,
    #actu3 {
        min-height: 60vh;
    }

    .myContent h2 {
        position: absolute;
        top: -5%;
        left: 50%;
        margin: 0;
        font-size: 8rem;
        color: rgba(250, 250, 250, .5);
        transition: .5s;
    }

    .myBox {
        position: relative;
        min-height: 500px;
        width: 95%;
        background: #060c21;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #cdcd;
        box-shadow: 1px 1px 20px #060c21;
        transition: .9s ease-in-out;
    }

    .myBox:hover .myContent h2 {
        top: -10%;
    }

    #ourTeam h4 {
        padding-right: 3px !important;
        padding-left: 3px !important;
    }

    #ourTeam p {
        font-size: larger;
    }

}
